[Desktop Entry]
Name=SteamProTipsAI
Exec=sh -c 'cd /app && ./launch.sh'
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Game;Utility;
